<nav class="navbar fixed-top navbar-f navbar-dark bg-danger">
  <div>
    <span class="navbar-brand mb-0 ml-2 h1">Newsgate</span>
    <i class="logo far fa-newspaper fa-lg text-light"></i>
  </div>
  <p class="col-1 mb-0 h6 text-light">{{today | date}}</p>
</nav>

<div class="row">
<div *ngFor="let new of news" class="col-3 mb-1 mt-xl-5 ml-xl-5">
  <div class="card">
    <img class="card-img-top" src={{new.image}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{new.title}}</h5>
      <p class="card-text">Published on {{new.date | date}}</p>
      <p class="card-text">
        <small class="text-muted">Probability of being fake: {{new.probability}}%
        </small>
      </p>
      <a href={{new.link}} target="_blank" class="btn btn-primary mt-4"
         role="button" aria-pressed="true">See full article</a>
    </div>
  </div>
</div>
</div>
